body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #74ebd5, #ACB6E5); 

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 40px auto;
}

.title {
    color: #333;
    text-align: center;
}

.input {
    margin-bottom: 15px;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.input:focus {
    outline: none;
    border-color: #777;
}


input:valid {
    border-color: green;
}


input:invalid {
    border-color: red;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}